body{
    background:linear-gradient(top, rgb(210, 153, 221), rgb(172, 90, 197));
    background:-webkit-linear-gradient(top, rgb(155, 93, 190), rgb(147, 61, 173));
    background:-moz-linear-gradient(top, rgb(169, 130, 201), rgb(179, 98, 211));
    background:-o-linear-gradient(top, rgb(163, 111, 187), rgb(142, 77, 172));
    background:-ms-linear-gradient(top, rgb(181, 106, 204), rgb(143, 74, 175));
}
.body2{
    margin: 50px;
    border: 1px solid #5c6552;
    background: rgb(95, 0, 133);
    padding: 350px;
    border-radius: 20px;
}
.tabla {
    right: 10px;
    position: absolute;
    width: 100%;
    margin: -250px;
    text-align: center;
    padding-top: 50px;
}

.tablax3 {
    float: left;
    width: 20%;
    margin-top: 20px;
}
.card{
    border: 1px solid #5c6552;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}
.tabla-medio {
    float: left;
    width: 23%;
    margin-top: 10px;  
}

.boton-precio{
    margin-bottom: 25px;
}
.precio-1{
    background: coral;
    text-decoration: none;
    color: cornsilk;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 70px;
    letter-spacing: 1px;
    width: 90%;
}
.precio-1:hover{
    background-color: darkgray;
}

.card-m{
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.9);
    z-index: 500;
    padding: 50px;
    border-radius: 20px;
}